<h1>Lista de Usuarios</h1>
<div class="" ng-repeat="usuario in usuarios">
  <div class="col-sm-4" ng-init="visible=false">
    <h2>{{usuario.nombre}}
      {{usuario.apellido}}</h2>
    <p>{{usuario.edad}} años</p>
    <p>{{usuario.correo}}</p>
    <button ng-click="visible=!visible" class="btn btn-info">Editar</button>
    <a href="#/{{usuario.id}}/pastel" class="btn btn-success">Pasteles</a>
    <br>
    <form class="form-horizontal animated bounceIn" ng-show="visible" ng-submit="editarUsuario(usuario)">
      <fieldset>
        <legend>Editar Usuario</legend>
        <div class="form-group">
          <label for="nombre" class="col-lg-2 control-label">Nombre</label>
          <div class="col-lg-10">
            <input ng-model="usuarios[$index].nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="apellido" class="col-lg-2 control-label">Apellido</label>
          <div class="col-lg-10">
            <input ng-model="usuarios[$index].apellido" type="text" class="form-control" id="apellido" placeholder="Apellido">
          </div>
        </div>
        <div class="form-group">
          <label for="edad" class="col-lg-2 control-label">Edad</label>
          <div class="col-lg-10">
            <input ng-model="usuarios[$index].edad" type="number" class="form-control" id="edad" placeholder="Edad">
          </div>
        </div>
        <div class="form-group">
          <label for="correo" class="col-lg-2 control-label">Correo</label>
          <div class="col-lg-10">
            <input ng-model="usuarios[$index].correo" type="email" class="form-control" id="correo" placeholder="Correo">
          </div>
        </div>
        <div class="form-group">
          <label for="ciudad" class="col-lg-2 control-label">Ciudad</label>
          <div class="col-lg-10">
            <input ng-model="usuarios[$index].ciudad" type="text" class="form-control" id="ciudad" placeholder="Ciudad">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>
</div>
